<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {head: head}) %>
<body>
<main id="wrapper">
  Hello, this is example
</main>


<%- include('includes/footer', {footer: footer}) %>
</body>
</html>
